@import 'tailwindcss';

/* 自定义变体
具有dark类名的元素的后代激活dark变体
用于按类名的主题切换
*/
@custom-variant dark (&:is(.dark *));

/* 
scrollbar-hide:隐藏滚动条
scrollbar-default:隐藏后显示滚动条 用于断点
  webkit浏览器不支持从hide变default,只支持default变hide
    所以得使用max-width断点系统
*/
@import 'tailwind-scrollbar-hide/v4';
@plugin 'tailwind-scrollbar';

@utility scb-thin {
	@apply scrollbar-thin scrollbar-thumb-gray-400 scrollbar-track-transparent;
}
