#login-container {
  padding: 50px 20px;
  width: 400px;
  height: 370px;
  margin: 100px auto 0 auto;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
}
#login-container .links {
  display: flex;
  justify-content: space-between;
}
#login-container .btn {
  width: 100%;
}
